# Vivado generated
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.srcs/
*.jou
*.log
*.str
*.backup.xpr
*.xpr
*.wcfg
# OS files
.DS_Store
Thumbs.db
src/.vscode/settings.json

src/blocks/dummyexample.v
